<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <% for(let i = 1; i < posteos.length; i++) { %>
                    <% let post = posteos[i] %>
                <img class="profile" src="<%=post.foto_perfil%>" alt="">
                <% } %>
                <div class="info-usuario">
                    <p><%=usuario.usuario%></p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li>100 post</li>
                        <li>200 seguidores</li>
                        <li>300 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for(let i = 0; i < posteos.length; i++) { %>
                    <% let post = posteos[i] %>
                    <article class="post">
                        <a href="detallePost.html">
                            <img src="<%=post.nombre_imagen%>" alt="">
                        </a>
                    </article>
                <% } %>
                
                
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>