<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img class="foto-usuario" src="/images/usuarios/<%= post.usuario.foto %>" alt="">
                    <p>
                        <a href="/users/detalleUsuario/<%= post.usuario.id %>  "><%= post.usuario.user %></a>
                    </p>
                </div>
                <img height="415px" class="photo" src="</images/posts/<%= post.nombre_imagen %> " alt="">
                <p class="letradetalle">  <i class="fa-solid fa-heart"></i></p>
                <p class="letradetalle1"> <%= post.texto %></p>
            </section>

            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="/users/login" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>

                        <% for (let i = 0; i < post.comentario.length; i++) { %> 

                            <article class="comment">

                                <img width="30px" class="imagenperfil" src="/images/usuarios/<%= post.comentario[i].usuario.foto %>" alt="">
                                <section class="content">
                                    <a class="user" href="/users/detalleUsuario/<%= post.comentario[i].usuario.id %>"><%= post.comentario[i].usuario.user %></a>
                                    <span class="text"><%= post.comentario[i].texto_comentario %></span>
                                </section>
                            </article>
                        <% } %>
                       
                        
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>