<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <div class="info-usuario">
                    <p><%= usuariodb.user %></p> 

                    <% if(locals.usuario) { %>
                        <% if(locals.usuario.id != usuariodb.id) { %>
                            <a class="follow" href="">seguir</a>
                        <% } %>
                    <% } %>

                    <ul class="meta">
                        <li><%= usuariodb.posteos.length %> post</li>
                        <li><%= usuariodb.misSeguidores.length %> seguidores</li>
                        <li><%= usuariodb.misSeguidos.length %> seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for(let i = 0; i < usuariodb.posteos.length; i++) { %>
                    <% let post = usuariodb.posteos[i] %>
                    <article class="post">
                        <a href="/users/detallePost/<%=post.id%>">
                            <img src="/images/posts/<%=post.nombre_imagen%>" alt="">
                        </a>
                    </article>
                <% } %>
                
                
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>